@font-face {
    font-family: "Tropi Land";
    /* src: local("Tropi Land"); */
    src: url(fonts/tropiland.ttf) format("truetype");
}


.tropi {
  font-family: "Tropi Land", sans-serif;
  color: purple;
}

.onset-text {
  font-family: "Onset", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Slideshow CSS  */
.splide {
    width: 800px;
    height: 400px;
    text-align: center;
    background-color: 
black;
    margin: 0 auto;
}

.splide__slide__container img {
    height: 400px;
    object-fit: contain;
    object-position: 50% 50%;
}

.center-title {
  text-align: center;
  font-size: 40pt;
  padding-top: 10px;
}

.splide__slide img {
  width: 100%;
  height: auto;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}